<% provide(:title, "Home") %>

<!--　▼ 表紙　 -->
    <div class="container">
      <div class="jumbotron">
      
        <h1>Welcome to My Diary !</h1>
        日記アプリです。
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up »</a></p>
      </div>
    </div>
<!--　▲ 表紙　 -->
