<% if logged_in? %>
  <div class="row">
  <%=render 'static_pages/user_logged_in' %>
    <div class="col-md-8">
      
      <%= render 'shared/feed' %>

<p id="notice"><%= notice %></p>
<br>


    </div>
<% else %>
  <%=render 'static_pages/user_not_logged_in' %>
<% end %>


